<div class="grid-container" *ngIf  = "favorites?.length > 0; else noItems">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let favorite of favorites">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{favorite.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{favorite.description}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-raised-button="Favorite a new item!" (click)="search()">Favorite a new item!</button>
</div>

<ng-template #noFavorites>
  <h1>
    You have no favorites!
  </h1>

</ng-template>
